.banner {
  background-color: #6ba1c6;
  color: white;
  padding: 5px;
  font-size: 21px;
  text-align: center;
}

.field {
  padding: 5px;
  padding-left: 15px;
  font-size: 21px;
  text-align: center;
  color: #2263a3;
}

#conso_graph {
  height: 350px;
  margin-bottom: 80px;
}
